{{#if user}}
<div class="userPage">
<h2 class="myPageTop">Hello, {{user.username}}!</h2>

{{/if}}

<a class="createNewChar" href="/create"><b>Create New Character +</b></a>
<div id="profile-header-div" class="gallery-header-div">
<h2 class="user-header">My Characters</h2>
</div>


<div id="profile-char-blocks" class="created-char-blocks">

{{#each user.characters}}

<div class="char-block">
<div class="char-image">
    <img class="img-small" src={{this.imageUrl}} height="210px">
</div>
<div class="char-info-all-chars">
<div>
    <h3>{{this.name}}</h3>
    <p>Race: {{this.race}}</p>
    <p>Class: {{this.dndclass}}</p>
</div>
<div>
    <a href="/characters/{{_id}}"><b>Character details</b></a>
</div>
</div>
</div>
{{/each}}
</div>
</div>

<style>
body {
  background-image: url('https://images5.alphacoders.com/938/thumb-1920-938044.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#navMyChars{
  background-color: rgba(194, 138, 26);
}
</style>