{{#if user}}
<h2>Hello, {{user.username}}!</h2>
<p> You are currently logged in</p>
{{else}}
    <p>User not logged in, sorry</p>
    <a href="/login">Log in</a> 
{{/if}}

<h2>My Characters:</h2>
<a href="/create">Create New Character</a>
<div class="created-char-blocks">
{{#each user.characters}}
<div class="char-block">
<div class="char-image">
    <img src={{this.imageUrl}} height="200px">
</div>
<div class="char-info">
    <h4>Name: {{this.name}}</h4>
    <p>Race:{{this.race}}</p>
    <p>Class:{{this.dndclass}}</p>
    <a href="/characters/{{_id}}">Character details</a>
</div>
</div>
{{/each}}
</div>

<style>
body {
  background-image: url('https://images.wallpaperscraft.com/image/single/ships_old_wreckage_beach_sea_sky_clouds_63095_1366x768.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>