<h2>Created Characters</h2>
<div class="created-char-blocks">
        {{#each characters}}
    <div class="char-block">
        <div class="char-image">
           <img class="img-small" src={{this.imageUrl}} height="210px">
        </div>
        <div class="char-info-all-chars">
         <div>
          <h3>{{this.name}}</h3>
          <p>Race: {{this.race}}</p>
          <p>Class: {{this.dndclass}}</p>
        </div>
        <div>
          <a href="/characters/{{_id}}"><b>Character details</b></a>
        </div>
        </div>
    </div>
        {{/each}}
</div>

<style>
body {
  background-image: url('https://images.wallpaperscraft.com/image/single/castle_waterfall_mountains_green_horseman_60065_1280x720.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#navAllChars {
  background-color: rgba(194, 138, 26);
}
</style>
