
    <div class="char-display">
        <div class="char-image-large">
        <img src={{character.imageUrl}} height="452px">
        </div>
        <div class="char-info-large">
            <div>
            <h2>{{character.name}}</h2>
            <p><b>Race:</b> {{character.race}}</p>
            <p><b>Class:</b> {{character.dndclass}}</p>
            <p><b>Description:</b> <br>{{character.description}}</p>
            <p><b>Backstory:</b> <br>{{character.backstory}}</p>
           </div>
           <div>
            <p><b>Created by:</b> {{character.userId.username}}</p>
            {{#if isMyCharacter}}
     
            <a class ="edit-button" href="/characters/{{character._id}}/edit">Update Character</a>
            {{/if}}
            </div>
        </div>
    </div>
    
       

       


    <style>
body {
  background-image: url('https://images.wallpaperscraft.com/image/single/jungle_fantasy_deer_butterflies_night_trees_102121_1366x768.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>