    <style>
body {
  background-image: url('/images/jungle_fantasy_deer.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

    <div class="char-display">
        <div class="char-image-large">
        <img src={{character.imageUrl}} height="450px">
        </div>
        <div class="char-info-large">
            <div>
            <h2>{{character.name}}</h2>
            <p><b>Race:</b> {{character.race}}</p>
            <p><b>Class:</b> {{character.dndclass}}</p>
            <div class="overFlowText">
            <p><b>Description:</b> <br>{{character.description}}</p>
            </div>
            <div class="overFlowText">
            <p><b>Backstory:</b> <br>{{character.backstory}}</p>
            </div>
           </div>
           <div class="char-info-large-bottom">
            <p><b>Created by:</b> {{character.userId.username}}</p>
            {{#if isMyCharacter}}
     
            <a class="edit-button" href="/characters/{{character._id}}/edit"><b>Update Character</b></a>
            {{/if}}
            </div>
        </div>
    </div>
    
       

       

